<div id="header">
        <div class="container">
       
            <div class="header-text">
                <p>FREELANCER</p>
                <h1>Hello, I'm <span>Prikia</span> <br> FWD from Costa Rica</h1>
            </div>
        </div>
    </div>